<script type='text/html' id='map_template'>
<div id='map_area'>
		<div id='map_route_contain'>
			<form class = 'well  form-inline'>
				<input class = 'input-big search-query' placeholder = 'address?' id='where_box'>
				<button class ='btn' id='wherebutton'>Find</button>
			</form>
		</div>
	<div id='goog_map'></div>
</div>
</script>
